<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{index.titulo}">Articulos disponibles</h2>
            <br/>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                    <th th:text="#{articulo.descripcion}">Descripcion</th>
                    <th th:text="#{articulo.precio}">Precio</th>
                    <th th:text="#{articulo.comprar}"colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio, 3, 2)}"></td>
                            <td th:href="@{/carrito/agregar/} + ${articulo.idArticulo}" th:text="#{accion.agregar}">Agregar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${articulos == null or articulos.empty}">
            <p th:text="#{articulo.no_mostrar}">No hay articulos</p>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
